<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <script src="../static/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/quesAnsweringStyle.css ">
</head>
<body>
<a href="home.html"><img src="../static/back.png" /></a>
<div class="gradient">
</div>
<div class="content">
    <span>Q:</span>
    <p class="word">，他有梦想你有梦想，他有梦想你有梦想，他有梦想你有梦想，他有梦想</p>
</div>
<div class="answer">
    <textarea type="text" class="answer-input" autocomplete="off" placeholder="在这里写下你想说的..."></textarea>
</div>


<script>
//input获得焦点时页面的变化
    $(".answer-input").on('focus',function(){
        var target = this;
        setTimeout(function(){
            target.scrollIntoView();
            },200);
    })
//input获得焦点时页面的变化
</script>
</body>
</html>